@import '../../conf';



.add-good{

  &__title{
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
    color: $black;
    text-align: center;
  }
}

.add-form{

  &__label{
    display: flex;
    max-width: 380px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .span{
    padding-right: 20px;
    font-weight: bold;
  }
  &__imgs{
    margin-bottom: 20px;
  }
  &__imgs-wrap{
    display: flex;
    margin: 0 -15px;

    span{
      font-weight: bold;
      text-align: center;
      @media (min-width: $media768) {
        padding: 15px;
      }
    }
    label{
      position: relative;
      display: flex;
      flex-direction: column;
      @media (min-width: $media768) {
        flex-direction: row;
      }
      max-width: 300px;
      margin: 0 15px;
      width: calc(33.33% - 30px);
      padding-bottom: 30%;
    }
    img{
      position: absolute;
      padding: 12px;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 75%;
      border-radius: 12px;
      border: 2px solid transparent;

      object-fit: contain;

      @media (min-width: $media768) {
        height: 100%;
      }
    }
    input{
      position: absolute;
      left: -9000px;
      &:checked{
        & + img{
          border: 2px solid $button;
        }
      }
    }
  }
  input{
    padding: 6px 15px;
    border-radius: 5px;
  }
}

fieldset{
  border: none;
}
