
@import '../../conf';
.basket-list {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  // .basket-list__item

  &__item {
    display: flex;
    margin: 10px  0;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }

  // .basket-list__title

  &__title {

  }
  &__count{

    padding: 0 10px;
  }
  // .basket-list__img

  &__img {
    object-fit: contain;
  }

  // .basket-list__quantity

  &__quantity {
  }

  // .basket-list__price

  &__price {
  }

  // .basket-list__item-wr

  &__item-wr {
    display: flex;
    align-content: center;
    align-items: center;
  }

  // .basket-list__btn-plus

  &__btn-plus {
   
    &.button{
      padding: 5px;
      border-radius: 3px;
      line-height: 16px;
    }
  }

  // .basket-list__btn-minus
  &__button{
   align-self: start;
    &.button{
      background-color: transparent;
      max-width: 40px;
      padding: 5px;
      border-radius: 3px;
      line-height: 16px;

      path{
        fill: $button
      }
      &:hover{
        background-color: transparent;
        path{
          fill: $button_hover
        }
      }
      &:active{
        background-color: transparent;
        path{
          fill: $button_active
        }
      }
    }
  }
  &__btn-minus {
    &.button{
      padding: 5px;
      border-radius: 3px;
      line-height: 16px;
    }
  }
  
}

.basket-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
  line-height: 55px;
}

.basket-total-sum{
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
}