
@import '../../conf';
.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 -10px -30px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
  width: 100%;
  @media (min-width: $media768) {
    margin: 0 10px 30px;
    width: calc(50% - 20px);
  }
  @media (min-width: $media1024) {
    margin: 0 10px 30px;
    width: calc(33.33% - 20px);
  }
  .span{
    font-weight: bold;
  }
  &__title{
    font-size: 20px;
  }
  &__quantity{
    margin-top: 10px;
    margin-bottom: 5px;
  } 
  &__img{
    object-fit: contain;
  }
  &__price{

  }
  &__button{
    margin-top: 5px;
  }
}