

//var

$media1024: 1024px;
$media768: 768px;
$black: #000000;
$white: #ffffff;
$bg_color: rgba(75, 131, 131, 0.801);
$bg_header: #111111;

$button: #E31E25;
$button_hover: #FA151D;
$button_active: #FF0009;


$animate_time: 0.2s;