
@import './conf';

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,body{
  min-height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}


.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: $media1024) {
    padding: 0 40px;
  }
}

a{
  text-decoration: none;
  color: $white;
}

button{
  border: none;
  background-color: transparent;
}

.button{
  padding: 15px;
  border-radius: 12px;
  max-width: 250px;
  width: 100%;
  background-color: $button;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
  transition: background-color $animate_time;

  &:hover{
    background-color: $button_hover;
  }
  &:active{
    background-color: $button_active;
  }
}

.label{
  display: block;
}
.input{
  padding: 7px;
  border-radius: 12px;
}